.main {
  padding: 18px 15px 18px 15px;
  font-weight: 300;
  color: white;
  border: none;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
}

.main:hover {
  font-weight: bold;
  color: white;
  background-color: #bdbdc6 !important;
}

/* Media Query 350px - 600px */
@media only screen and (min-width: 350px) and (max-width: 600px) {
  .main {
    font-size: 10pt;
  }
}
