.main {
  padding: 20px;
  text-align: center;
  width: 700px;
  color: #939393;
}

.main > h2 {
  color: #5f6380;
}

.main p {
  width: 80%;
  text-align: center;
  margin: 5% auto;
  padding: 15px;
  border: 1px solid #dee1ea;
}

.currency {
  width: 60%;
  margin: 5% auto auto 8%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.currency > select,
.currency > input {
  width: 180px;
  padding: 8px;
}

.main > button {
  margin-top: 5%;
  float: right;
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 10pt;
  background-color: #51ce10;
}

.main > button:hover {
  color: white;
  background-color: #bdbdc6 !important;
}

/* Media Query 350px - 600px */
@media only screen and (min-width: 350px) and (max-width: 600px) {
  .main {
    padding: 0;
    width: 270px;
    font-size: 10pt;
  }
  .currency {
    width: 98%;
    margin: 5% auto;
  }
}

/* Media Query 601px - 850px */
@media only screen and (min-width: 601px) and (max-width: 850px) {
  .main {
    padding: 0;
    width: 500px;
  }
}
