.main {
  position: relative;
  margin: 5% auto 0 auto;
  width: 660px;
  height: 320px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.main > div {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
}

.youtube {
  cursor: pointer;
  width: 100px;
  margin-top: 5px;
}

.youtube:hover {
  width: 110px;
}

.logo {
  width: 120px;
  position: absolute;
  bottom: 20px;
  right: 15px;
}

/* Media Query 350px - 600px */
@media only screen and (min-width: 350px) and (max-width: 600px) {
  .main {
    margin-top: 10%;
    width: 300px;
    height: 300px;
  }

  .main > div > h1 {
    font-size: 20pt;
  }

  .youtube {
    width: 60px;
    margin-top: 10%;
  }
  .logo {
    width: 100px;
  }
}

/* Media Query 600px - 768px */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .main {
    width: 350px;
    height: 280px;
  }
}

/* Media Query 769px - 1080px */
@media only screen and (min-width: 769px) and (max-width: 1080px) {
  .main {
    width: 490px;
    height: 300px;
  }
}
